h2 {
    font-size: 32px;
}

h1.title {
    font-family: Chalkduster, Chalkboard, sans-serif;
    font-size: 50px;
}

body {
    margin-top: 2px;
    margin-left: 2%;
    background: greenyellow url("home_background_2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
    display: inline;
}

select {
    font-size: 15px;
    cursor: pointer;
}

option {
    cursor: pointer;
}

a {
    cursor: pointer;
}

a.head {
    text-decoration: none;
    color: deeppink;
}

a.head:hover {
    text-shadow: 0 0 3px;
}

input.button {
    font-size: 16px;
    cursor: pointer;
}

input.button:hover {
    box-shadow: 0 0 3px;
}

input.matrixentry {
    width: 100%;
    padding: 1%;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1.error {
    color: red;
}

p.description {
    font-size: 20px;
}

p.error_message {
    font-size: 20px;
}

div {
    float: left;
}

div.display {
    margin-left: 2%;
}

div.matmuldisplay {
    margin-left: 2%;
}

div.matmultwodisplay {
    margin-left: 4%;
}

div.inversesup {
    margin-left: 1%;
}

div.childDiv {
    margin-right: 5%;
    display: inline-block;
    margin-bottom: 10px;

}

div.container {
    margin-left: 6%;
    width: 88%;
    margin-bottom: 200px;
}

div.body {
    margin-left: 8%;
    margin-right: 10%;
    width: available;
    font-size: 22px;
}

div.bodyForm {
    margin-left: 8%;
    margin-right: 10%;
    float: none;
}

div.feedback {
    position: absolute;
    top: 5%;
    right: 7%;
    width: 140px;
    text-align:right;
    font-size: 20px;
}

.matrix {
    position: relative;
    margin-bottom: 20px;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid;
    width: 6px;
    height: 100%;
}

.matrix:before {
    left: -6px;
    border-right: 0;
}

.matrix:after {
    right: -6px;
    border-left: 0;
}

.matrix td {
    padding: 10px;
    text-align: center;
}


.matrixDet {
    position: relative;
}

.matrixDet:before, .matrixDet:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid;
    height: 100%;
}

.matrixDet:before {
    left: -6px;
    border-right: 0;
}

.matrixDet:after {
    right: -6px;
    border-left: 0;
}

.matrixDet td {
    padding: 8px;
    text-align: center;
}

.matrixText {
    font-size: 20px;
}

.matrixCell {
    width: 45px;
}