<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matrix Form</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    {% if choice == 'det' %}

        <h3>Determinant Calculator</h3>

        <form action = "http://localhost:5000/detresult" method = "POST">

        <table class="matrix">
            {% for i in range(0, dim) %}

                <tr>

                {% for j in range(0, dim) %}
                    <td class="matrixCell">
                        <input class="matrixentry" type="text" name="num[{{ i }}][{{ j }}]" {% if matrix != null %}  value="{{ matrix[i][j] }}" {% endif %} >
                    </td>
                {% endfor %}

                </tr>

            {% endfor %}
        </table>


        <br>
        <br>

        <input type="submit" value="submit">

        <br>
        <br>
        <br>

        </form>
    {% endif %}

    {% if detstr != null %}

        <div>

            <table class="matrixDet">
                {% for i in range(0, dim) %}

                    <tr>
                        {% for j in range(0, dim) %}
                            <td class="matrixText">
                                {{ matrix[i][j] }}
                            </td>
                        {% endfor %}
                    </tr>


                {% endfor %}
            </table>
        </div>

        <div style="margin-left: 2%; vertical-align: center;">

            {% for i in range(0, dim) %}
                <br>
            {% endfor %}

            =
        </div>

        <div class="display">

            {% for i in range(0, dim) %}
                <br>
            {% endfor %}

            {{ detstr }}
        </div>
    {% endif %}


    <!--Matrix multiplication-->

    {% if choice == 'matmul' %}
        <h3>Matrix Multiplication Calculator</h3>


        <form action = "http://localhost:5000/matmulresult" method = "POST">





            <div class="childDiv">
                Matrix One:

                <br>

                <table class="matrix">
                    {% for i in range(0, m1_1) %}

                        <tr>

                        {% for j in range(0, m1_2) %}
                            <td class="matrixCell">
                                <input class="matrixentry" type="text" name="matrixOne[{{ i }}][{{ j }}]" {% if matrixOneString != null %}  value="{{ matrixOneString[i][j] }}" {% endif %} >
                            </td>
                        {% endfor %}

                        </tr>

                    {% endfor %}
                </table>
            </div>


            <div class="childDiv">
                Matrix Two:

                <br>

                <table class="matrix">
                    {% for i in range(0, m2_1) %}

                        <tr>

                        {% for j in range(0, m2_2) %}
                            <td class="matrixCell">
                                <input class="matrixentry" type="text" name="matrixTwo[{{ i }}][{{ j }}]" {% if matrixTwoString != null %}  value="{{ matrixTwoString[i][j] }}" {% endif %} >
                            </td>
                        {% endfor %}

                        </tr>

                    {% endfor %}
                </table>
            </div>



            <br clear="all">
            <br>


            <input type="submit" value="submit">

            <br>
            <br>

        </form>
    {% endif %}

    {% if matmulresult != null or columnvector != null %}

        <br>


        <div class="matmuldisplay">

            <table class="matrix">
                {% for i in range(0, m1_1) %}

                    <tr>
                        {% for j in range(0, m1_2) %}
                            <td class="matrixText">
                                {{ matrixOneString[i][j] }}
                            </td>
                        {% endfor %}
                    </tr>


                {% endfor %}
            </table>
        </div>


        <div class="matmuldisplay">

            <table class="matrix">

                {% for i in range(0, m2_1) %}

                    <tr>
                        {% for j in range(0, m2_2) %}
                            <td class="matrixText">
                                {{ matrixTwoString[i][j] }}
                            </td>
                        {% endfor %}
                    </tr>

                {% endfor %}

            </table>
        </div>


        <div class="display">
            <p>=</p>
        </div>

        <div class="matmuldisplay" style="margin-right: 2%;">


            <table class="matrix">

                {% for i in range(0, m1_1) %}

                    <tr>
                        {% for j in range(0, m2_2) %}
                            <td class="matrixText">
                                {{ matmulresult[i][j] }}
                            </td>
                        {% endfor %}
                    </tr>

                {% endfor %}

            </table>
        </div>


    {% endif %}


    <!--Matrix Inverse-->

    {% if choice == 'inv' %}
        <h3>Matrix Inverse Calculator</h3>

        <form action="http://localhost:5000/invresult" method="POST">

            <table class="matrix">
                {% for i in range(0, dim) %}

                    <tr>

                    {% for j in range(0, dim) %}
                        <td class="matrixCell">
                            <input class="matrixentry" type="text" name="matrix[{{ i }}][{{ j }}]" {% if matrixString != null %}  value="{{ matrixString[i][j] }}" {% endif %} >
                        </td>
                    {% endfor %}

                    </tr>

                {% endfor %}
            </table>

            <br>
            <br>

            <input type="submit" value="submit">

            <br>
            <br>
            <br>

        </form>
    {% endif %}


    {% if inv != null %}
        <div>
            <table class="matrix">
                {% for i in range(0, dim) %}
                    <tr>
                        {% for j in range(0, dim) %}
                            <td class="matrixText">{{ matrixString[i][j] }}</td>
                        {% endfor %}

                    </tr>

                {% endfor %}
            </table>

        </div>

        <div class="inversesup">-1</div>

        <div class="display">
            {% for i in range(0, dim) %}
                <br>
            {% endfor %}
            =
        </div>

        <div class="display">
            <table class="matrix">
                {% for i in range(0, dim) %}
                    <tr>
                        {% for j in range(0, dim) %}
                            <td class="matrixText">{{ inv[i][j] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endif %}

    {% if singular != null %}
        <h1 class="error">{{ error }}</h1>

        <p>{{ message }}</p>
    {% endif %}



    <!--Eigenspace Calculator-->

    {% if choice == 'eig' %}
        <h3>Eigenspace Calculator</h3>

        <form action="http://localhost:5000/eigresult" method="POST">

            <table class="matrix">
                {% for i in range(0, dim) %}

                    <tr>

                    {% for j in range(0, dim) %}
                        <td class="matrixCell">
                            <input class="matrixentry" type="text" name="matrix[{{ i }}][{{ j }}]" {% if matrixString != null %}  value="{{ matrixString[i][j] }}" {% endif %} >
                        </td>
                    {% endfor %}

                    </tr>

                {% endfor %}
            </table>

            <br>
            <br>

            <input type="submit" value="submit">

            <br>
            <br>
            <br>

        </form>



    {% endif %}


    {% if eigenspace != null %}

        <div class="display">
            {% for i in range(0, dim) %}
                <br>
            {% endfor %}
            Eigenspace of
        </div>

        <div class="display">
            <table class="matrix">
                {% for i in range(0, dim) %}
                    <tr>
                        {% for j in range(0, dim) %}
                            <td class="matrixText">{{ matrixString[i][j] }}</td>
                        {% endfor %}

                    </tr>

                {% endfor %}
            </table>

        </div>

        <div class="display">
            {% for i in range(0, dim) %}
                <br>
            {% endfor %}
            =
        </div>

        <br clear="all">
        <br>
        <br>

        <div class="display">
            &lambda;
        </div>

    {% endif %}




</body>
</html>