<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matrix Form</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    {% if choice == 'det' %}

        <h3>Determinant Calculator</h3>

        <form action = "http://localhost:5000/detresult" method = "POST">

        <table border="1%">
            {% for i in range(0, dim) %}

                <tr>

                {% for j in range(0, dim) %}
                    <td>
                        <input class="matrixentry" type="text" name="num[{{ i }}][{{ j }}]" {% if matrix != null %}  value="{{ matrix[i][j] }}" {% endif %} >
                    </td>
                {% endfor %}

                </tr>

            {% endfor %}
        </table>


        <br>
        <br>

        <input type="submit" value="submit">

        </form>
    {% endif %}

    {% if detstr != null %}
        <p>Determinant = {{ detstr }} </p>
    {% endif %}


    {% if choice == 'matmul' %}
        <h3>Matrix Multiplication Calculator</h3>


        <form action = "http://localhost:5000/matmulresult" method = "POST">

            <div style="margin-right: 10%;">
                Matrix One:

                <br>

                <table border="1%">
                    {% for i in range(0, m1_1) %}

                        <tr>

                        {% for j in range(0, m1_2) %}
                            <td>
                                <input class="matrixentry" type="text" name="matrixOne[{{ i }}][{{ j }}]" {% if matrixOneString != null %}  value="{{ matrixOneString[i][j] }}" {% endif %} >
                            </td>
                        {% endfor %}

                        </tr>

                    {% endfor %}
                </table>
            </div>


            <div>
                Matrix Two:

                <br>

                <table border="1%">
                    {% for i in range(0, m2_1) %}

                        <tr>

                        {% for j in range(0, m2_2) %}
                            <td>
                                <input class="matrixentry" type="text" name="matrixTwo[{{ i }}][{{ j }}]" {% if matrixTwoString != null %}  value="{{ matrixTwoString[i][j] }}" {% endif %} >
                            </td>
                        {% endfor %}

                        </tr>

                    {% endfor %}
                </table>
            </div>


            <br clear="all">
            <br>

            <input type="submit" value="submit">

        </form>
    {% endif %}

    {% if matmulresult != null %}
        <div>
            _

            <br>



            {% for i in range(0, m1_1) %}

                | &nbsp;


                {% for j in range(0, m1_2) %}


                    {{ matrixOneString[i][j] }}

                    &nbsp; &nbsp; &nbsp;

                {% endfor %}

                |

                <br>
            {% endfor %}

            _

        </div>
    {% endif %}




</body>
</html>