<!DOCTYPE html>
<html lang="en" xmlns="www.linearalgebraplus.com">
<head>

    <title>Linear Algebra Calculator</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</head>



<body>

    <div class="container">

        <div class="feedback">
            <a href="mailto: saditya01@gmail.com">
                Feedback
            </a>
        </div>

        <h1 class="title">Linear AlgebrA+</h1>

        <div class="body">

            <p>
                Welcome to <b>Linear AlgebrA+</b>, a software designed to help you perform common linear algebra problems with just a few clicks! Whether you're studying for an exam, working on a
                homework assignment, or have any other reason to solve linear algebra problems, Linear AlgebrA+ provides you with just the right tools to perform quick and efficient operations on matrices
                of up to 20 dimensions.
            </p>

            <p>
                <b>Linear AlgebrA+</b> can perform the following operations on matrices
            </p>

            <ul>
                <li>Determinant of a square matrix</li>
                <li>Matrix multiplication of two matrices</li>
                <li>Row reduced echelon Form of a matrix</li>
                <li>Inverse of a square matrix</li>
                <li>Eigenvectors and eigenvalues of a square matrix</li>
            </ul>

            <p>Just select which feature you would like to use and specify the dimensions of your matrix/matrices below.</p>

            <br>
            <br>

            <p>Which feature would you like to use?</p>

            <form action = "www.linearalgebraplus.com/dimensions" method = "POST">

                <select name="choice">
                    <option disabled {% if selected == -1 %} selected="selected" {% endif %}></option>
                    <option value="det" {% if selected == 0 %} selected="selected"  {% endif %}  {% if selected != -1 and selected != 0 %} disabled {% endif %}>determinant</option>
                    <option value="matmul" {% if selected == 1 %} selected="selected" {% endif %} {% if selected != -1 and selected != 1 %} disabled {% endif %}>matrix multiplication</option>
                    <option value="rref" {% if selected == 2 %} selected="selected" {% endif %}  {% if selected != -1 and selected != 2 %} disabled {% endif %}> reduced echelon form</option>
                    <option value="inv" {% if selected == 3 %} selected="selected" {% endif %} {% if selected != -1 and selected != 3 %} disabled  {% endif %}>inverse matrix</option>
                    <option value="eig" {% if selected == 4 %} selected="selected" {% endif %}  {% if selected != -1 and selected != 4 %} disabled {% endif %}> eigenvectors</option>

                </select>

                <br>
                <br>

                <input class="button" type="submit" value="submit">
            </form>



            <form class="reset" action="www.linearalgebraplus.com/">

                <input class="button" type="submit" value="reset">

                <br>
                <br>
            </form>

            {% if res == 'det' %}

                <p>
                    Welcome to the determinant calculator! This feature calculates the determinant of any square matrix, up to size 20 by 20. Just select the dimension of your matrix below and click "submit"
                    to enter the elements of your matrix.
                </p>


                <form action = "www.linearalgebraplus.com/detform" method="POST">
                    Choose the dimension of your matrix:

                    <select name="detdim">

                        {% for i in range(1, 21) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}

                    </select>


                    <input class="button" type="submit" value="submit">
                </form>


            {% endif %}


            {% if res == 'matmul' %}

                <p>
                    Welcome to the matrix multiplication calculator! This feature calculates the matrix product of any two matrices of up to size 20 by 20. Remember that for matrix multiplication to be valid,
                    the second dimension of the first matrix must be equal to the first dimension of the second matrix. Select the dimensions of both matrices below and click "submit" to enter the elements of the matrices.
                </p>

                <form action = "www.linearalgebraplus.com/matmulform" method="POST">
                    Choose the dimension of your matrix:

                    <br><br>

                    Matrix One Dimensions:

                    <select name="matrixOneDimOne">
                        {% for i in range(1, 21) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>

                    <select name="matrixOneDimTwo" id="m12" onchange="changeOne()">
                        {% for i in range(1, 21) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>

                    <br>

                    Matrix Two Dimensions:

                    <select name="matrixTwoDimOne" id="m21" onchange="changeTwo()">
                        {% for i in range(1, 21) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>

                    <select name="matrixTwoDimTwo">
                        {% for i in range(1, 21) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>


                    <br><br>


                    <input class="button" type="submit" value="submit">
                </form>
            {% endif %}

            {% if res == 'inv' %}

                <p>
                    Welcome to the matrix inverse calculator! This feature finds the multiplicative inverse of any square matrix, up to size 20 by 20. Just select the dimension of your matrix below and click "submit"
                    to enter the elements of your matrix.
                </p>

                <form action = "www.linearalgebraplus.com/invform" method="POST">
                    Choose the dimension of your matrix:
                    <select name="invdim">
                        {% for i in range(1, 21) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>


                    <input class="button" type="submit" value="submit">
                </form>
            {% endif %}


            <!--RREF calculator-->



            {% if res == 'rref' %}
                <p>
                    Welcome to the matrix reduced row echelon form calculator! This feature performs elementary row operations on any matrix of up to size 20 by 20, and it returns the row reduced version of the
                    matrix. Just select the dimensions of your matrix below and click "submit" to enter the elements of your matrix.
                </p>

                <form action="www.linearalgebraplus.com/rrefform" method="POST">
                    Choose the dimensions of your matrix:
                    <select name="dim1">
                        {% for i in range(1, 21) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>

                    <select name="dim2">
                        {% for i in range(1, 21) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>

                    <input class="button" type="submit" value="submit">
                </form>
            {% endif %}








            {% if res == 'eig' %}

                <p>
                    Welcome to the matrix eigenvector calculator! This feature calculates the eigenvalues and corresponding eigenvectors of any square matrix of up to size 20 by 20, assuming all solutions
                    are real. Just select the dimensions of your matrix below and click "submit" to enter the elements of your matrix.
                </p>

                <form action="www.linearalgebraplus.com/eigform" method="POST">
                    Choose the dimension of your matrix:
                    <select name="eigdim">
                        {% for i in range(1, 21) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>

                    <input class="button" type="submit" value="submit">
                </form>
            {% endif %}
        </div>



    </div>
</body>
</html>