<!DOCTYPE html>
<html lang="en">
<head>

    <title>Linear Algebra Calculator</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</head>



<body>

    <div class="container">

        <h1>Welcome to the Linear Algebra Calculator</h1>

        <p>Which feature would you like to use?</p>

        <form action = "http://localhost:5000/dimensions" method = "POST">

            <select name="choice">
                <option disabled {% if selected == -1 %} selected="selected" {% endif %}></option>
                <option value="det" {% if selected == 0 %} selected="selected"  {% endif %}  {% if selected != -1 and selected != 0 %} disabled {% endif %}>determinant</option>
                <option value="matmul" {% if selected == 1 %} selected="selected" {% endif %} {% if selected != -1 and selected != 1 %} disabled {% endif %}>matrix multiply</option>
                <option value="rref" {% if selected == 2 %} selected="selected" {% endif %}  {% if selected != -1 and selected != 2 %} disabled {% endif %}> reduced echelon form</option>
                <option value="inv" {% if selected == 3 %} selected="selected" {% endif %} {% if selected != -1 and selected != 3 %} disabled  {% endif %}>inverse of matrix</option>
                <option value="eig" {% if selected == 4 %} selected="selected" {% endif %}  {% if selected != -1 and selected != 4 %} disabled {% endif %}> eigenvectors</option>

            </select>

            <br>
            <br>

            <input type="submit" value="submit">
        </form>



        <form action="http://localhost:5000/">

            <input type="submit" value="reset">

            <br>
            <br>
        </form>

        {% if res == 'det' %}


            <form action = "http://localhost:5000/detform" method="POST">
                Choose the dimension of your matrix:

                <select name="detdim">

                    {% for i in range(1, 21) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}

                </select>


                <input type="submit" value="submit">
            </form>


        {% endif %}


        {% if res == 'matmul' %}

            <form action = "http://localhost:5000/matmulform" method="POST">
                Choose the dimension of your matrix:

                <br><br>

                Matrix One Dimensions:

                <select name="matrixOneDimOne">
                    {% for i in range(1, 21) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>

                <select name="matrixOneDimTwo" id="m12" onchange="changeOne()">
                    {% for i in range(1, 21) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>

                <br>

                Matrix Two Dimensions:

                <select name="matrixTwoDimOne" id="m21" onchange="changeTwo()">
                    {% for i in range(1, 21) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>

                <select name="matrixTwoDimTwo">
                    {% for i in range(1, 21) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>


                <br><br>


                <input type="submit" value="submit">
            </form>
        {% endif %}

        {% if res == 'inv' %}
            <form action = "http://localhost:5000/invform" method="POST">
                Choose the dimension of your matrix:
                <select name="invdim">
                    {% for i in range(1, 21) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>


                <input type="submit" value="submit">
            </form>
        {% endif %}

        {% if res == 'rref' %}
            <form action="http://localhost:5000/rrefform" method="POST">
                Choose the dimensions of your matrix:
                <select name="dim1">
                    {% for i in range(1, 21) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>

                <select name="dim2">
                    {% for i in range(1, 21) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>

                <input type="submit" value="submit">
            </form>
        {% endif %}

        {% if res == 'eig' %}
            <form action="http://localhost:5000/eigform" method="POST">
                Choose the dimension of your matrix:
                <select name="eigdim">
                    {% for i in range(1, 21) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>

                <input type="submit" value="submit">
            </form>
        {% endif %}


    </div>
</body>
</html>